<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user %>
</p>

<p>
  <strong>Checkboxes:</strong>
  <%= @vote.checkboxes %>
</p>

<p>
  <strong>Story:</strong>
  <%= @vote.story %>
</p>

<p>
  <strong>Story approved:</strong>
  <%= @vote.story_approved %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
